name: BUMP VERSION
on:
  push:
    branches:
      - main

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: yodagrammar/reusable-workflows/.github/actions/common/bump-version@v0.0.1
        with:
          token: ${{ secrets.GH_PACKAGES_PAT }}
